.dashboard {
    height: 100vh;
    width: 100%;
    display: flex;
}

.dashboard h1 {
    padding-top: 20px;
    text-align: center;
}

.dashboardOne {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5F6FA;
    flex-direction: column;
}

.titleDiv {
    width: 70%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bodyDiv {
    width: 70%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 80%;
    height: 70%;
    outline: none !important;
    /* border: none !   important; */
}

.title:hover {
    box-shadow: none !important;
}

.title:focus {
    box-shadow: none !important;
}

.createPostBtn {
    background-color: #333954 !important;
    border: none;
    box-shadow: none !important;
}

.createPostBtn:focus {
    background-color: #4a4a4d !important;
    /* border: 1.5px #C4BAF4 solid !important; */
}

.createPostBtn:hover {
    background-color: #4a4a4d !important;
}

.createPostBtn:active {
    background-color: #4a4a4d !important;
    border: none !important;
}

.cancelBtn {
    background-color: rgb(220, 53, 69);
    border: none;
    box-shadow: none !important;
}

.cancelBtn:focus {
    background-color: rgba(220, 53, 69, 0.8) !important;
    /* border: 1.5px #C4BAF4 solid !important; */
}

.cancelBtn:hover {
    background-color: rgba(220, 53, 69, 0.8) !important;
}